<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Nouvelle commande</title>
    <style>
        /* Styles CSS pour le corps de l'email */
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
            color: #333;
        }

        /* Styles CSS pour la signature avec le logo */
        .signature {
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid #ccc;
            text-align: center;
        }

        .logo {
            max-width: 150px;
            height: auto;
        }
    </style>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>
        Bonjour [Nom du client],
        
        Nous vous remercions de votre commande sur [nom du site/magasin]. Nous sommes heureux de vous informer que votre
        commande a été validée et est actuellement en cours de préparation dans nos entrepôts.
        
        Notre équipe s'efforce de traiter votre commande dans les meilleurs délais afin de vous assurer une livraison rapide et
        efficace. Si vous avez des questions ou des préoccupations concernant votre commande, n'hésitez pas à nous contacter à
        l'adresse e-mail [adresse e-mail du service client] ou en répondant directement à ce message.
        
        Nous vous tiendrons informé de l'avancement de votre commande et vous enverrons un e-mail dès qu'elle sera expédiée.
        Nous espérons que vous apprécierez votre expérience de shopping chez [nom du site/magasin] et nous vous remercions de
        votre confiance.
        
        Cordialement,
        L'équipe de [nom du site/magasin]
    </p>
    <table>
        <thead>
            <tr>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Prix unitaire</th>
                <th>Prix total</th>
            </tr>
        </thead>
        <tbody>
            <% orderDetails.forEach(function(product) { %>
                <tr>
                    <td>
                        <%= product.productName %>
                    </td>
                    <td>
                        <%= product.quantity %>
                    </td>
                    <td>
                        <%= product.price %> €
                    </td>
                    <td>
                        <%= product.price * product.quantity %> €
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
    <div class="signature">
        <p>Jovive.fr</p>
    </div>
</body>

</html>