<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Contact client</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
            line-height: 1.5;
            color: #333;
            background-color: #f6f6f6;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: 0;
            font-weight: bold;
            color: #333;
        }

        p {
            margin-top: 0;
            margin-bottom: 1rem;
        }

    </style>
</head>

<body>
    <div class="container">
        <h1>
            <%= title %>
        </h1>
        <p>
            <%= text %>
        </p>
        <h4> Coordonnées du client :</h4>
        <p> <%= customerFirstName %> <%= customerLastName %></p>
        <p> <%= customerEmail %></p>
        <p> <%= customerPhoneNumber %></p>
    </div>

</body>

</html>